.c1 {
    width: 200px;
    height: 25px;
    border: solid red;
    border-width: thick;
  }

.c2 {
    width: 50px;
    height: 100px;
    border: solid red;
    border-width: thick;
  }
.c3 {
    width: 50px;
    height: 100px;
    border: solid red;
    border-width: thick;
  }
.c4 {
    width: 50px;
    height: 100px;
    border: solid red;
    border-width: thick;
  }
.c5 {
    width: 200px;
    height: 25px;
    border: solid red;
    border-width: thick;
  }